<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title Instituto La Paz</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <div class="container px-4 px-lg-5">

        @*<div class="navbar navbar-expand-sm navbar-light fixed-top" style="background-color:antiquewhite">*@

        <nav class="navbar navbar-expand-sm navbar-light bg-light fixed-top">
            
            <div class="container">
                


                <div class="container px-4 px-lg-5">


                    <ul class="nav navbar-nav">
                        <li class="nav-item ">
                            <a class="navbar-brand">&nbsp</a>
                            <a class="navbar-brand">&nbsp</a>
                            <a class="navbar-brand">&nbsp</a>
                            <a class="navbar-brand">&nbsp</a>
                            
                           
                        </li>


                        <li class="nav-item">

                            <img href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTSVX9gitbtf80-pBMNCdrh6Y5zycwiLCqOBqbgnsjgEOPtkpp-EBw3JnWq1FjXImaMyhc&usqp=CAU" />

                            <a class="navbar-brand">@Html.ActionLink("Instituto La Paz", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })</a>
                        </li>

                        <li class="nav-item ">
                            <a class="navbar-brand"> @Html.ActionLink("Carreras", "About", "Home", new { area = "" }, new { @class = "navbar-brand" })</a>
                        </li>


                        <li class="nav-item ">
                            <a class="navbar-brand"> @Html.ActionLink("Acceso Alumno", "Index", "Payment", new { area = "" }, new { @class = "navbar-brand" }) </a>

                        </li>
                        <li class="nav-item ">
                            <a class="navbar-brand"> @Html.ActionLink("Acceso Administrador", "Index", "Admin", new { area = "" }, new { @class = "navbar-brand" }) </a>

                        </li>
                        @*<li class="nav-item ">
            <a class="navbar-brand"> @Html.ActionLink("Sobre Nosotros", "Index", "Admin", new { area = "" }, new { @class = "navbar-brand" }) </a>

        </li>*@
                        <li class="nav-item ">
                            <a class="navbar-brand"> @Html.ActionLink("Login", "Index", "Admin", new { area = "" }, new { @class = "navbar-brand" }) </a>

                        </li>


                        @*<li class="nav-item ">
            <a class="navbar-brand"> @Html.ActionLink("Alta de Alumno", "Contact", "Home", new { area = "" }, new { @class = "navbar-brand" }) </a>

        </li>*@
                        @*<li class="nav-item ">
            <a class="navbar-brand"> @Html.ActionLink("Ver datos", "Show_data", "ListUser", new { area = "" }, new { @class = "navbar-brand" }) </a>

        </li>*@

                    </ul>
                </div>
            </div>
        </nav>

    </div>

        <div class="container body-content">

            @RenderBody()
            

        </div>

        @Scripts.Render("~/bundles/jquery")
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


</body>
</html>
