<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Instituto La Paz</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <nav class="navbar-brand bg-dark fixed-top">
            <div class="container">
                <a class="navbar-brand">@Html.ActionLink("Instituto La Paz", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })</a>
                

                <div class="active">

                    <ul class="nav pull-right">

                        <li class="active nav-item">
                            
                            <a class=" active navbar-brand link-primary">


                                @Html.ActionLink("Inicio", "Index", "Home")
                            </a>
                              
                        
                        </li>


                        <li class="nav-item ">
                            <a class ="navbar-brand">
                                @Html.ActionLink("Acerca de", "About", "Home")
                            </a>
                        </li>


                        <li class="nav-item ">
                            <a class ="navbar-brand">
                                @Html.ActionLink("Contacto", "Contact", "Home")
                            </a>

                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @Scripts.Render("~/bundles/jquery")
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

   
</body>
</html>



<
