
@{
    ViewBag.Title = "Show_user_by_id";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detalle de usuarios</h1>


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Show_data</title>
    <link href="~/Content/boostrap.min.css" rel="stylesheet" />
</head>
<body>

    <form method="post">
        <div class="table-responsive">
            <table class=" table table-striped table-bordered table-hover tabel-condensed">
                <thead>
                    <tr class="accordion-body">
                        @*<th>Id_usuario</th>*@
                        <th class="text-center">Nombre</th>
                        <th class="text-center">Email</th>
                        <th class="text-center">Password</th>
                        <th class="text-center">Fecha de Nacimiento</th>
                        <th class="text-center">Seleccionar Rol</th>
                        <th class="text-center">OPERACIONES</th>
                        

                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (System.Data.DataRow data_user in ViewBag.emp.Rows)
                        {



                                        <tr>


                                            @*<td>

            <label name="id" value="@data_user["id"]"></label>



        </td>*@
                                            <td>

                                                <input name="nom" velue="@data_user["nombre"]" />

                                            </td>
                                            <td>

                                                <input name="email" value="@data_user["email"]" />

                                            </td>


                                            <td>

                                                <input name="pass" value="@data_user["password"]" />

                                            </td>
                                            <td>

                                                <input name="fecha" value="@data_user["fecha"]" />


                                            </td>
                                            @*<td>

                                              <input name="idRol" value="@data_user["idRol"]" />

                                                      </td>*@
                                        <td>
                                            <div class="form-group">
                                                

                                                <select name="idrol" class="form-control">
                                                    <option value="1">ADMINISTRADOR</option>
                                                    <option value="2">USUARIO</option>

                                                </select>
                                            </div>
                                        </td>
                                            <td>



                                                @*<a href="~/ListUser/Update_user?">Guardar</a>*@

                                                @*<button class="btn btn-success btn-lg" type="submit" runat="server" href="/ListUser/Update_user?=@data_user["id"]">Guardar</button>*@
                                                <div class="form-control">
                                                    <button class="btn btn-success btn-sm" type="submit" runat="server">Guardar</button>
                                                </div>
                                                @*<a href="~/Views/ListUser/Update_user.cshtml">Guardar</a>*@
                                            <div class="form-control">
                                                <a class="btn btn-success btn-sm" href="/ListUser/Delete_user?id=@data_user["id"]">Eliminar</a>
                                            </div>
                                            </td>

                                            @*<td>
            <div class="form-group">

                <input type="submit" value="Guardar" name="btn_guarda" class="btn btn-primary" />

            </div>
        </td>*@

                                        </tr>


                        }
                    }

                </tbody>

            </table>
            <div class="form-floating">

                <button class="btn btn-success btn-lg float-md-end">@Html.ActionLink("Cancelar", "Show_data", "ListUser", new { area = "" }, new { @class = "navbar-brand" })</button>
            </div>
        </div>

    </form>
</body>
</html>