
@{
    ViewBag.Title = "Update_user";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Update_user</title>
</head>
<body>


    <h2>Modificar usuario</h2>
    <div>
        @*ID*@
        @{
            foreach (System.Data.DataRow data_user in ViewBag.dbmostrar.Rows)
            {
                <form method="post">
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">ID</label>

                        <div class="col-sm-9">
                            <input type="text" value="@data_user["id"]" name="id" class="col-xs-10 col-sm-8" />

                        </div>
                    </div>

                    @*NOMBRE*@

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">Nombre</label>

                        <div class="col-sm-9">
                            <input type="text" value="@data_user["nombre"]" name="nombre" class="col-xs-10 col-sm-8" />

                        </div>
                    </div>

                    @*EMAIL*@

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">Email</label>

                        <div class="col-sm-9">
                            <input type="text" value="@data_user["email"]" name="email" class="col-xs-10 col-sm-8" />

                        </div>
                    </div>

                    @*PASSWORD*@

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">Password</label>

                        <div class="col-sm-9">
                            <input type="text" value="@data_user["password"]" name="password" class="col-xs-10 col-sm-8" />

                        </div>
                    </div>

                    @*FECHA*@

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">Fecha</label>

                        <div class="col-sm-9">
                            <input type="text" value="@data_user["fecha"]" name="fecha" class="col-xs-10 col-sm-8" />

                        </div>
                    </div>


                    @*ID ROL*@

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">Id Rol</label>

                        <div class="col-sm-9">
                            <input type="text" value="@data_user["idRol"]" name="idRol" class="col-xs-10 col-sm-8" />

                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-9">

                            <input type="submit" value="submit" class="btn btn-success btn-lg" />

                        </div>
                    </div>


                </form>
            }


        }

    </div>
    @{
        if (TempData["msg"] != null)
        {
            <script>alert('@TempData["msg"]')</script>
        }

    }

</body>
</html>